<h2> {{ title }}</h2>

<form [formGroup]="foodForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name of Dish</label>
      <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" formControlName="description" class="form-control">
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price (CAD)</label>
        <input type="number" formControlName="price" class="form-control">
    </div>

    <label for="price" class="form-label">Category</label>
    <select class="mb-3" formControlName="food_category_id">
      <option value="" selected>Select the Category</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
  </select>

    <div>
    <label for="image" class="form-label">Image</label>
    <input class ="form-control" type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg"></div>
    
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>