<app-header pageTitle="Offers"></app-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let offer of offers" class="offer-list">

    <ion-card class="offer-item" button [routerLink]="['/offer-details', offer.id]">
      <ion-card-header>
        <ion-card-title>{{ offer.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="offer-content">
        <ion-item lines="none">
          <ion-icon name="pricetag-outline" slot="start" class="offer-icon"></ion-icon>
          <ion-label>Description:</ion-label>
          <h2>{{ offer.description }}</h2>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="calendar" slot="start" class="offer-icon"></ion-icon>
          <ion-label>Validity:</ion-label>
          <h2>{{ offer.valid_from | date:'mediumDate' }} to {{ offer.valid_to | date:'mediumDate' }}</h2>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="cash" slot="start" class="offer-icon"></ion-icon>
          <ion-label>Discount:</ion-label>
          <h2>{{ offer.discount }}%</h2>
        </ion-item>

        <ion-button (click)="presentAlert()">Add Promo</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>