
<div class="card">
    <h5 class="card-header">{{ offer.title }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{  offer.discount }} % off</h5>
      <p class="card-text">{{ offer.description }}</p>
      <p class="card-text"> Valid from {{ offer.valid_from | date}} - {{ offer.valid_to | date}}</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/editoffer', offer.id]">Edit</a>
      <a href="#" class="btn btn-danger" (click)="onDelete()">Delete</a>
    </div>
  </div>

<router-outlet></router-outlet>
