<!-- contact-us.page.html -->

<app-header pageTitle="Contact us"></app-header>

<ion-content [fullscreen]="true">

  <ion-content class="ion-padding">

    <ion-card>
      <ion-card-content>

        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" class="input-label">First and Last Name</ion-label>
            <hr>
            <ion-input [(ngModel)]="name" type="text" required class="input-field"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="input-label">Email address</ion-label>
            <hr>
            <ion-input [(ngModel)]="email" type="email" required class="input-field"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="input-label">Message</ion-label>
            <hr>
            <ion-textarea [(ngModel)]="message" required class="textarea-field"></ion-textarea>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="sendMessage()" class="send-button">Send Message</ion-button>

  </ion-content>

</ion-content>
