<div class="container">
<h1>Garden of Eat'n Administrative Login</h1>

<form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Employee Email</label>
      <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">

    <span *ngIf="emailFormControl.touched && emailFormControl.errors?.['required']">
        Email is required
    </span>
    <span *ngIf="emailFormControl.dirty && emailFormControl.errors?.['email']">
        A valid email address is required
    </span>
    <span *ngIf="emailFormControl.dirty && emailFormControl.errors?.['prohibited']">
        The email field contains a prohibited word
    </span>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"> Employee Password</label>
      <input type="password" class="form-control" formControlName="password">

    <span *ngIf="passwordFormControl.touched && passwordFormControl.errors?.['required']">
        Password is required
    </span>

    <span *ngIf="passwordFormControl.dirty && passwordFormControl.errors?.['minlength']">
        Password must be at least 8 characters
    </span>
    <span *ngIf="passwordFormControl.dirty && passwordFormControl.errors?.['prohibited']">
        The password field contains a prohibited word
    </span>
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="Login()" [disabled]="loginForm.invalid">Login</button>
  </form>
