<div class="row">
    <div class="col-4 offset-4">
<div class="card" style="width: 18rem;">
  <img [src] ="'http://localhost:3000/uploads/' + food.image">
    <div class="card-body">
      <h5 class="card-title">{{ food.name }}</h5>
      <p class="card-text">{{  food.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> ${{ food.price }}</li>
      <li class="list-group-item"> Category ID: {{ food.food_category_id }}</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-primary me-2" [routerLink]="['/editfood', food.id]">Edit</button>
      <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
  </div>

  </div>
  </div>
<router-outlet></router-outlet>