<br>
<br>
    <!-- Loop through your food items here -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h5 class="card-title food-name">{{ food.name }}</h5>
          <div class="col-md-4">
            <div class="btn-group">
              <button class="btn btn-primary me-2" [routerLink]="['/editfood', food.id]">Edit</button>
              <button class="btn btn-danger" (click)="onDelete()">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
        <thead class="columnas">
          <tr>
            <th class="description" style="width: 15%; text-align: justify;">Description</th> <!-- Adjust the width -->
            <th class="foodcat" style="width: 10%;">Food Category</th> <!-- Adjust the width -->
            <th class="price" style="width: 5%;">Price</th> <!-- Adjust the width -->
            <th class="image" style="width: 10%;">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: justify;">{{ food.description }}</td>
            <td style="text-align: center;">{{ food.foodcategory?.category }}</td>
            <td style="text-align: center;">${{ food.price }}</td>
            <td>
              <div class="image-container">
                <img [src]="'http://localhost:3000/uploads/' + food.image" alt="Food Image" class="img-fluid">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


