<form [formGroup]="offerForm">

    <div class="mb-3">
      <label for="name" class="form-label">Title of Offer</label>
      <input type="text" formControlName="title" class="form-control">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" formControlName="description"class="form-control">
    </div>
    <div class="mb-3">
        <label for="discount" class="form-label">Discount(%)</label>
        <input type="number" formControlName="discount"class="form-control">
    </div>
    <div class="mb-3">
        <label for="valid_from" class="form-label">Valid From (Start Date)</label>
        <input type="date" formControlName="valid_from" class="form-control">
    </div>
    <div class="mb-3">
        <label for="valid_to" class="form-label">Valid To (End Date) </label>
        <input type="date" formControlName="valid_to" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>